<h1>New Teacher</h1>
<%= form_with model: @teacher do |form| %>
  <div>
    <%= form.label :first_name %>:<br/>
    <%= form.text_field :first_name %>
  </div>
  <br/>
  <div>
    <%= form.label :last_name %>:<br/>
    <%= form.text_field :last_name %>
  </div>
  <br/>
  <div>
    <%= form.label :biography %>:<br/>
    <%= form.text_field :biography %>
  </div>
  <br/>
  <div>
  <%= form.submit %>
  </div>
<% end %>
