<h1>Teacher Details</h1>

<p><strong>First Name:</strong> <%= @teacher.first_name %></p>
<p><strong>Last Name:</strong> <%= @teacher.last_name %></p>
<p><strong>Biography:</strong> <%= @teacher.biography %></p>

<%= link_to 'Back', teachers_path %> | <%= link_to 'Edit', edit_teacher_path(@teacher) %>